{% load humanize %}

{% if totaux %}
  <table class="adminlist">
    <tfoot>
      <tr style="font-weight: bold; background-color: #f5f5f5;">
        <td colspan="4" style="text-align: right;">Totaux :</td>
        <td style="text-align: right;">{{ totaux.total_ht|floatformat:0|intcomma }} FCFA</td>
        <td style="text-align: right;">{{ totaux.total_tva|floatformat:0|intcomma }} FCFA</td>
        <td style="text-align: right;">{{ totaux.total_ttc|floatformat:0|intcomma }} FCFA</td>
        <td></td>
      </tr>
    </tfoot>
  </table>
{% endif %}
